
    <!-- <h4 class="modal-title" id="modal-basic-title">Update your project</h4> -->
    <!-- <button type="button" class="btn-close" aria-label="Close"></button> -->
 
<style>
	.custom-input {
  height: 30px;
}
</style>
    <br>

<section class=" gradient-custom">
    <div class="container" >
      <div class="row justify-content-center align-items-center h-100">
        <div class="">
          <form [formGroup]="form">

            <div class="row">
              <div class="col-md-12 mb-2">

                <div class="form-outline">
                    <input type="text" name="project_name" id="project_name" class="form-control form-control-md " style="font-size: 15px;"  value="{{project_name}}}" formControlName="project_name" required [ngModel]="project_name">

                  <label class="form-label" for="serviceType" style="font-size:12px;color: navy;margin-left: 3px;">project name</label>
                </div>

              </div>


			  
            </div>

			<div class="row">
				<div class="col-md-6 mb-2">
					<div class="form-outline datepicker w-100">
						<input type="text"  class="form-control form-control-md" style="font-size: 15px;"  formControlName="start_date"  name="start_date" id="start_date"  placeholder="" [ngModel]="start_date"/>
						<label for="start_date" class="form-label" style="font-size:12px;color: navy;margin-left: 3px;">Start Date</label>
					</div>
	
	
				</div>

				<div class="col-md-6 mb-2">
					<div class="form-outline datepicker w-100">
						<input type="text"  class="form-control form-control-md" style="font-size: 15px;"  formControlName="valuation_date"  name="valuation_date" id="valuation_date"  placeholder="" [ngModel]="valuation_date"/>
						<label for="appointDate" class="form-label" style="font-size:12px;color: navy;margin-left: 3px;">Valuation Date</label>
					  </div>
	
	
				  </div>
			</div>

            <!-- <div class="row"> -->
				<div class="form-group mb-4" >

					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description" style="font-size: 15px;"  name="description" id="description" [ngModel]="description"></textarea>
					<label for="exampleFormControlTextarea1" style="font-size:12px;color: navy;margin-left: 3px;">Description</label>  
				</div>

            <!-- </div> -->



              <B></B>
          </form>
            </div>
          </div>
        </div>

    
  </section>

<div class="modal-footer" style="margin-right: 5px;">
  <button type="submit" class="btn btn-outline-dark" (click)="updateProject()" >Update</button>
  <button type="submit" class="btn btn-outline-dark"  (click)="open1(confirmdelete)" style="margin-left: 1%;margin-right:1%">Delete</button>
  <button type="submit" class="btn btn-outline-dark"  (click)="redirect()" >Back</button>

</div>


<ng-template #confirmdelete let-modal>
  <style>

	.modal-confirm {		
		color: #636363;
		width: 400px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
		text-align: center;
		font-size: 14px;
	}
	.modal-confirm .modal-header {
		border-bottom: none;   
		position: relative;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 26px;
		margin: 30px 0 -10px;
	}
	.modal-confirm .close {
		position: absolute;
		top: -5px;
		right: -2px;
	}
	.modal-confirm .modal-body {
		color: #999;
	}
	.modal-confirm .modal-footer {
		border: none;
		text-align: center;		
		border-radius: 5px;
		font-size: 13px;
		padding: 10px 15px 25px;
	}
	.modal-confirm .modal-footer a {
		color: #999;
	}		
	.modal-confirm .icon-box {
		width: 80px;
		height: 80px;
		margin: 0 auto;
		border-radius: 50%;
		z-index: 9;
		text-align: center;
		border: 3px solid #f15e5e;
	}
	.modal-confirm .icon-box i {
		color: #f15e5e;
		font-size: 46px;
		display: inline-block;
		margin-top: 13px;
	}
	.modal-confirm .btn, .modal-confirm .btn:active {
		color: #fff;
		border-radius: 4px;
		background: #60c7c1;
		text-decoration: none;
		transition: all 0.4s;
		line-height: normal;
		min-width: 120px;
		border: none;
		min-height: 40px;
		border-radius: 3px;
		margin: 0 5px;
	}
	.modal-confirm .btn-secondary {
		background: #c1c1c1;
	}
	.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
		background: #a8a8a8;
	}
	.modal-confirm .btn-danger {
		background: #f15e5e;
	}
	.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
		background: #ee3535;
	}

	</style>
	
	<!-- <div class="text-center">

		<a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Confirm Modal</a>
	</div> -->
	
	<!-- Modal HTML -->

		<div class="modal-dialog modal-confirm">
			<div class="modal-content">
				<div class="modal-header flex-column">
					<div class="icon-box">
						<i class="material-icons" (click)="modal.dismiss('Cross click')">&#xE5CD;</i>
					</div>						
					<h4 class="modal-title w-100">Are you sure?</h4>	
					<button type="button" class=" close" data-dismiss="modal" aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</button>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete this Project? This process cannot be undone.</p>
				</div>
				<div class="modal-footer justify-content-center">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="[modal.dismiss('Cross click')]">Cancel</button>
					<button type="button" class="btn btn-danger" (click)="[deleteProject(),open2(donedelete),modal.dismiss('Cross click')]">Delete</button>
				</div>
			</div>
		</div>

</ng-template>

<ng-template #donedelete let-modal>
	<style>
		body {
			font-family: 'Varela Round', sans-serif;
		}
		.modal-confirms {		
			color: #636363;
			width: 325px;
			font-size: 14px;
		}
		.modal-confirms .modal-content {
			padding: 20px;
			border-radius: 5px;
			border: none;
		}
		.modal-confirms .modal-header {
			border-bottom: none;   
			position: relative;
		}
		.modal-confirms h4 {
			text-align: center;
			font-size: 26px;
			margin: 30px 0 -15px;
		}
		.modal-confirms .form-control, .modal-confirm .btn {
			min-height: 40px;
			border-radius: 3px; 
		}
		.modal-confirms .close {
			position: absolute;
			top: -5px;
			right: -5px;
		}	
		.modal-confirms .modal-footer {
			border: none;
			text-align: center;
			border-radius: 5px;
			font-size: 13px;
		}	
		.modal-confirms .icon-box {
			color: #fff;		
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			top: -70px;
			width: 95px;
			height: 95px;
			border-radius: 50%;
			z-index: 9;
			background: #82ce34;
			padding: 15px;
			text-align: center;
			box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
		}
		.modal-confirms .icon-box i {
			font-size: 58px;
			position: relative;
			top: 3px;
		}
		.modal-confirms .modal-dialog {
			margin-top: 80px;
		}
		.modal-confirms .btn {
			color: #fff;
			border-radius: 4px;
			background: #82ce34;
			text-decoration: none;
			transition: all 0.4s;
			line-height: normal;
			border: none;
		}
		.modal-confirms .btn:hover, .modal-confirm .btn:focus {
			background: #6fb32b;
			outline: none;
		}
		.trigger-btn {
			display: inline-block;
			margin: 100px auto;
		}
		</style>
		

		
		<!-- Modal HTML -->

			<div class="modal-dialog modal-confirms">
				<div class="modal-content" style="margin-top: 28%;">
					<div class="modal-header">
						<div class="icon-box" >
							<i class="material-icons">&#xE876;</i>
						</div>				
						<h4 class="modal-title w-100">Done!</h4>	
					</div>
					<div class="modal-body">
						<p class="text-center">Project successfully Deleted</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success btn-block" style="width: 100%;" data-dismiss="modal" (click)="[modal.dismiss('Cross click'),redirect()]">OK</button>
					</div>
				</div>
			
			</div>     
		
</ng-template>

