<body >
    <!-- BEGIN: Content-->
    <div style="margin:1%;">

        <div class="content-wrapper">
            
            <div class="">
                <div class="auth-wrapper auth-cover">
                    <div class="auth-inner row m-0">
                        
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <!-- /Left Text-->
                        <!-- Reset password-->
                        <div style="margin-top:1%">
                            <div >
                                <h2 class="card-title fw-bold mb-1">Reset Password 🔒</h2>
                                <small *ngIf="validate" class="card-text mb-2">Password length should not be less than 8, should include at least one lowercase, one uppercase and a special character.</small>
                                <small *ngIf="validaterror" style="color: red;" class="card-text mb-2">Password length should not be less than 8, should include at least one lowercase, one uppercase and a special character!!!</small>

                                <p class="card-text mb-2">Your new password must be different from previously used passwords</p>
                                <form [formGroup]="form"  method="POST"  class="auth-reset-password-form mt-2" ngNativeValidate>
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="reset-password-new" >New Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="reset-password-new" formControlName="password" type="password" name="reset-password-new" placeholder="············" aria-describedby="reset-password-new" autofocus="" tabindex="1" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>
                                    <div class="mb-1">
                                        <div class="d-flex justify-content-between">
                                            <label class="form-label" for="reset-password-confirm" >Confirm Password</label>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="reset-password-confirm" type="password" formControlName="confirm_password" name="reset-password-confirm" placeholder="············" aria-describedby="reset-password-confirm" tabindex="2" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                        </div>
                                    </div>
                                    <button class="btn btn-success w-100 mt-4" tabindex="3" (click)=" reset()">Set New Password</button>
                                </form>
                                <!-- <p class="text-center mt-2"><a href="/login"><i data-feather="chevron-left"></i> Back to login</a></p> -->
                            </div>
                            <br><hr>


                            <button type="submit" class="btn btn-outline-dark" (click)="redirect()" >Cancel</button>
                            <button style="margin-left:2%" type="submit" class="btn btn-outline-dark" (click)="redirect()" >Done</button>


                        </div>
                        <!-- /Reset password-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="../../../app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="../../../app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="../../../app-assets/js/core/app-menu.js"></script>
    <script src="../../../app-assets/js/core/app.js"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="../../../app-assets/js/scripts/pages/auth-reset-password.js"></script>
    <!-- END: Page JS-->

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>