.section {
  position: relative;
  height: 100vh;
}

tr {
  line-height: 10px;
  min-height: 10px;
  height: 10px;
}

#booking {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-position: center;
  font-weight: 300;
}

.booking-form {
  background: #fff;
  padding: 30px 15px 0px;
  border-radius: 4px;
  overflow: auto;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  border: none;
  height: 45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #090a0b;
  margin-bottom: -2%;
  background: #f2f1f1;
  border-radius: 4px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #b1b6bd;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #b1b6bd;
}

.booking-form .form-control::placeholder {
  color: #b1b6bd;
}

.booking-form input[type="date"].form-control:invalid {
  color: #b1b6bd;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  text-align: center;
  pointer-events: none;
  height: 65px;
  line-height: 65px;
  color: #b1b6bd;
  font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #184c8f;
  display: block;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
  text-transform: uppercase;
}

.booking-form .form-label:after {
  content: "";
  position: absolute;
  left: 10px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f2f1f1 transparent transparent transparent;
}

.booking-form .form-btn {
  margin-bottom: 30px;
}

.booking-form .submit-btn {
  background: rgb(112, 153, 188);
  border: none;

  text-transform: uppercase;
  height: 30px;
  font-size: 13px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  display: block;
}

.btn1 {
  display: block;
  width: 140px;
  height: 28px;
  background: rgb(112, 153, 188);
  color: #fff;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 3px 0 0 rgb(108, 105, 255);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.btn1:hover {
  background: rebeccapurple;
  box-shadow: 0 3px 0 0 deeppink;
}

.upload-icon {
  margin: 25px 2px 2px 2px;
}

.upload-input {
  position: relative;
  top: -62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btn {
  display: block;
  width: 100%;
  height: 30px;
  background: rgb(127, 180, 220);

  color: #fff;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 3px 0 0 rgb(112, 153, 188);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.btn:hover {
  background: rgb(139, 191, 231);
  box-shadow: 0 3px 0 0 rgb(112, 153, 188);
}
