
<p style="background-color:#EAEDED;padding: 3px;border-radius: 2px;">Audit Trail</p>
<!-- <hr> -->
<!-- <br> -->
<form class="form-signin" [formGroup]="form">

<div class="" style="margin-bottom: 1%">
    <div class="form-group">
        <input class="form-control" formControlName="start_date" name="start_date" placeholder="yyyy-mm-dd" type="date" required>
        <span style="font-size: 80%;margin-left: 0.7%;color: midnightblue;;" class="">Start Date</span>
    </div>
</div>


<div class="" style="margin-bottom: 1%">
    <div class="form-group">
        <input class="form-control" formControlName="end_date" name="end_date" placeholder="yyyy-mm-dd" type="date" required>
        <span style="font-size: 80%;margin-left: 0.7%;color: midnightblue;" class="">End Date</span>
    </div>
</div>



<button  class="submit-btn btn" (click)="audit()">
    <span >	Extract <i style="color: white" class="fa fa-download" aria-hidden="true"></i></span>
    
    
    </button>

    </form>